img{
    width: 150px;
    height: 100px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(105, 88, 88);
    color: white;
    text-align: center;
  }